# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local virtual environments
.venv/
venv/
env/

# Generated outputs
outputs/
*.png
*.gif
*.npy
matplotlib_config/
cache/

# Zip packages
*.zip

# Jupyter
.ipynb_checkpoints/
